<section class="homepage-banner">
  <section class="homepage-buttons">
    <h1>Nanogram</h1>
    <%= link_to "Sign up", new_account_registration_path, class: 'btn' %>
    <p>or</p>
    <%= link_to "Sign in", new_account_session_path , class: 'btn' %>
  </section>
</section>
