<h3>Show</h3>

<p>
 <%= @post.description %>
</p>

<% if @post.image.attached? %>
  <%= image_tag(@post.image) %>
<% end %>


#links
<p>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Sure?"} %>
</p>
