.homepage-banner {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.205), rgba(128, 0, 128, 0.281)), url(landing.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding: 3rem;
  padding-top: 0;
  border-radius: 10%;

  h1 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #000;
  }
}

.homepage-forms {
  margin: 0 10% 0 10%;

  .home-custom-btn {
    width: 100%;
    margin-top: 20px;
  }
}

@media(min-width: 600px) {
  .homepage-forms {
    margin: 0 30% 0 30%;
  }
}