
<section class='feed'>
  
  <% @posts.each do |post| %>
    <section class='feed-card'>
      <%= link_to post_path(post) do %>
        <%= image_tag(post.image, class: 'feed-image') %>
      <% end %>
    </section>
  <% end %>
  
</section>