
<section class='feed'>
  
  <% @posts.each do |post| %>
    <section class='feed-card'>
      <div class="card">
        <div class="card-image">

          <%= link_to post_path(post) do %>
            <%= image_tag(post.image, class: 'feed-image') %>
          <% end %>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </section>
  <% end %>

  <ul class="collection with-header feed-collection">
    <li class="collection-header"><h4>Suggestions</h4></li>
    <% @follow_suggestions.each do |user| %>
      <li class="collection-item">
        <div><%= user.username %>
          <%= link_to "Follow", follow_account_path(user) ,method: :post, class: 'secondary-content' %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
